<%- include("templates/header") %> 

<main>
    <p>BASIC HOME PAGE FOR COMP 3921 - BRYAN - EJS WORKS - LOCAL SERVER WORKS </p>
    <a href="/about" class="button">About</a>
    <a href="/signup" class="button">Sign up</a>
    <a href="/login" class="button">login</a>
</main>
<%- include("templates/footer") %> 