<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <!-- Nav Bar -->
    <div id="navbar-placeholder"></div>
    
    <div id="page-title-container">
        <h1 id="page-title">Login</h1>
    </div>

    <!-- Main Content -->
    <main>
        <form id="login-form">
            <div id="username-field" >
                <input type="text" placeholder="Username"  style="padding: 10px; border-radius: 10px" id="username-text-field">
            </div>
            <div id="password-field">
                <input type="password" placeholder="Password" style="padding: 10px; border-radius: 10px" id="password-text-field">
            </div>
            <input type="button" id="login-button" value="Log In">
        </form>
    </main>

    <div id="footer-placeholder"></div>

    <script src="js/login.js" async defer></script>
    <!-- <script src="/js/skeleton.js"></script> -->
</body>

</html>